#./django-docker/docker-compose.yml
version: '3.7'

services:
  web:
    restart: always
    build:
         context: ./app 
         dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/app/
      - /usr/src/app/static
      - .:/code
    ports:
      - 4000:8000
    env_file:
      - ./env/django.env